<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h3 text-center>Photos</h3>

  <button ion-button block secondary (click)="takePic()">Prende une photo</button>
  <button ion-button block secondary (click)="takeVideo()">Prende une video</button>

  <ion-card *ngIf="img">
    <img [src]="img">
  </ion-card>

  <video *ngIf="mv" controls>
    <source [src]="mv">
  </video>
</ion-content>
